.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 3rem;

  height: calc(100vh - 15rem);
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
  padding: 2rem;
}

.page-title {
  font-size: 3rem;
  font-weight: bold;
  color: rgba(47, 47, 47, 0.63);
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 2rem;
}
