<div class="card-grid">
  <div class="goal-card" *ngFor="let goal of goals">
    <div class="goal-header">
      <mat-icon class="goal-icon">{{ goal.icon }}</mat-icon>
      <button mat-icon-button (click)="openEditDialog(goal)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <h3 class="goal-title">{{ goal.title }}</h3>
    <p class="goal-target"><b>Ziel:</b> {{ goal.targetValue }} {{ goal.unit }}</p>
    <p class="goal-deadline"><b>Bis:</b> {{ goal.deadline | date: 'dd.MM.yyyy' }}</p>

    <div class="progress-bar">
      <div class="progress-fill" [style.width.%]="calculateProgress(goal)"></div>
    </div>
    <div class="goal-progress-value">
      {{ goal.currentValue || 0 }} / {{ goal.targetValue }} {{ goal.unit }}
    </div>

    <p class="motivational-text">{{ getMotivationalText(goal) }}</p>
  </div>
</div>
