.card-content {
  background-color: #ffffff;
  border-radius: 0 1.5rem 1.5rem 0;
  padding: 1.5rem;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-icon {
  width: 56px;
  height: 56px;
  background: rgba(227, 227, 227, 0.06);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(74, 74, 74, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.card-icon img {
  width: 28px;
  height: 28px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #636363;
}

.card-options {
  font-size: 1.2rem;
  color: #ccc;
  cursor: pointer;
}

.card-data {
  font-size: 2.2rem;
  font-weight: bold;
  color: #2f2f2f;
}

.card-subtitle {
  font-size: 0.9rem;
  color: #636363FF;
  margin-bottom: 1rem;
}

.progress-bar {
  height: 6px;
  background-color: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #6fcf97, #56ccf2);
  transition: width 0.4s ease;
}

.chart {
  height: 50px;
}

.card-wrapper {
  position: relative;
  display: flex;
  border-radius: 1rem;
  overflow: visible;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 1rem;
}

.card-icon-wrapper {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.card-wrapper::before {
  content: '';
  width: 10px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.card-wrapper.steps::before {
  background: linear-gradient(180deg, #2ecc71, #6fcf97);
}

.card-wrapper.sleep::before {
  background: linear-gradient(180deg, #a349a4, #ed53d3);
}

.card-wrapper.water::before {
  background: linear-gradient(180deg, #3498db, #2ecc71);
}

.card-wrapper.calories::before {
  background: linear-gradient(180deg, #e67e22, #f31212);
}

.card-wrapper.gewicht::before {
  background: linear-gradient(180deg, #f39c12, #d35400); /* Orange-Töne */
}

.card-wrapper.stress::before {
  background: linear-gradient(180deg, #e74c3c, #c0392b); /* Rot-Töne */
}

.card-wrapper.herzschlag::before {
  background: linear-gradient(180deg, #9b59b6, #8e44ad); /* Violett-Töne */
}

.card-wrapper.blutdruck::before {
  background: linear-gradient(180deg, #1abc9c, #16a085); /* Türkis-Töne */
}

.card-wrapper.blutzucker::before {
  background: linear-gradient(180deg, #2980b9, #2c3e50); /* Blau-Töne */
}
